* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button, button:hover {
  border: none;
  outline: none;
}

body {
  font-family: "nasali";
}

.container {
  max-width: 1360px !important;
}

@media (max-width: 1240px) {
  .container {
    width: 90%;
  }
}

/*****************************/
/*       Cursor CSS          */
/*****************************/
.cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cursor:nth-child(1) {
  width: 9px;
  background-color: white;
  z-index: 1;
  height: 9px;
}

.cursor:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 9;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  right: 12px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate(-50%, 0%);
}

@media (min-width: 320px) and (max-width: 480px) {
  #fp-nav {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border-radius: 0%;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  border-radius: 0%;
  margin: -6px 0 0 -6px;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 15px;
  height: 15px;
  margin: 7px 0px;
  position: relative;
}

#service .tabs .container .tabs_container .tab_content .tab-item .button, #analytics .container .section_inner .col-two .button_s .button, #strategy .container .section_inner .col-two .button_s .button, #studies .container .case_slider .slide_box .text_container .button {
  position: relative;
  display: inline-block;
  padding: 0.5em 2.2em;
  font-size: 16px;
  white-space: nowrap;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  margin-top: 15px;
  z-index: 9999999;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#service .tabs .container .tabs_container .tab_content .tab-item .button span, #analytics .container .section_inner .col-two .button_s .button span, #strategy .container .section_inner .col-two .button_s .button span, #studies .container .case_slider .slide_box .text_container .button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100%;
  background: transparent;
  z-index: -1;
  overflow: hidden;
}

#service .tabs .container .tabs_container .tab_content .tab-item .button span::before, #analytics .container .section_inner .col-two .button_s .button span::before, #strategy .container .section_inner .col-two .button_s .button span::before, #studies .container .case_slider .slide_box .text_container .button span::before {
  content: '';
  position: absolute;
  width: 2%;
  height: 500%;
  outline: none;
  background: #03a6ff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
          transform: translate(-50%, -50%) rotate(-60deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#service .tabs .container .tabs_container .tab_content .tab-item .button:hover, #analytics .container .section_inner .col-two .button_s .button:hover, #strategy .container .section_inner .col-two .button_s .button:hover, #studies .container .case_slider .slide_box .text_container .button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #fff;
}

#service .tabs .container .tabs_container .tab_content .tab-item .button:hover span::before, #analytics .container .section_inner .col-two .button_s .button:hover span::before, #strategy .container .section_inner .col-two .button_s .button:hover span::before, #studies .container .case_slider .slide_box .text_container .button:hover span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background-color: #03a6ff;
}

@font-face {
  font-family: "nasali";
  src: url("../fonts/nasta.ttf");
}

@font-face {
  font-family: "game_show";
  src: url("../fonts/Gameshow.ttf");
}

@font-face {
  font-family: "game_show_2";
  src: url("../fonts/Gameshow.otf");
}

@font-face {
  font-family: "myrid";
  src: url("../fonts/Myriad Pro Regular.ttf");
}

@font-face {
  font-family: "square";
  src: url("../fonts/Square.ttf");
}

body {
  position: relative;
}

.section {
  color: #fff;
  background: url("../images/background.png") center center/cover no-repeat;
}

/* Banner section start */
#banner .banner_bg {
  background: url(../images/banner.png) no-repeat;
  background-size: 100% 97%;
  height: calc(100vh - 100px);
  padding: 60px 0px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg {
    height: calc(100vh - 280px);
  }
}

#banner .banner_bg.pb {
  padding-top: 160px;
}

#banner .banner_bg .brand .brand-txt {
  position: absolute;
  left: 300px;
  top: 25px;
  font-size: 36px;
  line-height: 2.6rem;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .brand .brand-txt {
    font-size: 22px;
    line-height: 26px;
    top: 18px;
    left: 20px;
  }
}

#banner .banner_bg .brand .brand-log {
  position: absolute;
  top: 5px;
  left: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .brand .brand-log {
    display: none;
  }
}

#banner .banner_bg nav .toggler_icon {
  position: absolute;
  right: 80px;
  top: 130px;
  z-index: 333;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg nav .toggler_icon {
    right: 20px;
    top: 90px;
  }
}

#banner .banner_bg nav .toggler_icon.change .span_1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

#banner .banner_bg nav .toggler_icon.change .span_2 {
  opacity: 0;
}

#banner .banner_bg nav .toggler_icon.change .span_3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

#banner .banner_bg nav .toggler_icon .span {
  height: 6px;
  width: 40px;
  background: #479ed7;
  margin: 6px 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg nav .toggler_icon .span {
    width: 35px;
    height: 4px;
  }
}

#banner .banner_bg nav .nav_links {
  overflow: hidden;
  background: #396b9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 8px 0px;
  width: calc(100% - 50%);
  position: absolute;
  top: 130px;
  left: 25%;
  z-index: 333;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(8, 8, 8, 0.349);
          box-shadow: 0px 20px 20px rgba(8, 8, 8, 0.349);
}

@media (max-width: 1024px) {
  #banner .banner_bg nav .nav_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0px;
    background: #0974ad;
    border-radius: 5px;
  }
}

#banner .banner_bg nav .nav_links.fade {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#banner .banner_bg nav .nav_links li {
  margin: 0px 15px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#banner .banner_bg nav .nav_links li:after {
  content: '';
  position: absolute;
  top: -7px;
  right: 0px;
  width: 0%;
  height: 2px;
  background: #479ed7;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#banner .banner_bg nav .nav_links li:before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #479ed7;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#banner .banner_bg nav .nav_links li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  #banner .banner_bg nav .nav_links li:hover {
    background: #03a6ff;
  }
}

#banner .banner_bg nav .nav_links li:hover:after {
  width: 100%;
}

#banner .banner_bg nav .nav_links li:hover::before {
  width: 100%;
}

@media (max-width: 1024px) {
  #banner .banner_bg nav .nav_links li {
    margin: 8px 0px;
    padding: 0;
    width: 100%;
    text-align: center;
    position: relative;
  }
}

#banner .banner_bg nav .nav_links li a {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 1024px) {
  #banner .banner_bg nav .nav_links li a {
    color: #fff;
  }
}

#banner .banner_bg .bnnr_content {
  padding: 60px 0px;
}

#banner .banner_bg .bnnr_content h1 img {
  width: 25%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .bnnr_content h1 img {
    width: 50%;
  }
}

#banner .banner_bg .bnnr_content p img {
  width: 390px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .bnnr_content p img {
    width: 170px;
  }
}

#banner .banner_bg .bnnr_content .background_grdient h1 {
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .bnnr_content .background_grdient h1 {
    font-size: 18px;
    line-height: 24px;
  }
}

#banner .banner_bg .bnnr_content .background_grdient h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 25%;
  width: calc(100% - 50%);
  height: 2px;
  background: #03a6ff;
}

#banner .banner_bg .bnnr_content .book_stra {
  background: url(../images/book-stra.png) no-repeat;
  padding: 0px 15px;
  background-size: 100% 100%;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

#banner .banner_bg .bnnr_content .book_stra span {
  font-size: 32px;
  padding: 0px 35px;
  color: #091035;
  line-height: 40px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: "square";
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .banner_bg .bnnr_content .book_stra span {
    font-size: 12px;
    line-height: 16px;
  }
}

#banner .start {
  position: absolute;
  right: 0px;
  bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 45px;
    bottom: 12px;
  }
}

#banner .start .start_icon {
  width: 60px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #banner .start .start_icon {
    width: 26px;
  }
}

/* End  Banner section  */
/* about section start */
#about .container {
  position: relative;
}

#about .container .about_inner .abt_txt_col .abt_txt_content {
  text-align: right;
}

@media (min-width: 320px) and (max-width: 480px) {
  #about .container .about_inner .abt_txt_col .abt_txt_content {
    text-align: center !important;
  }
}

#about .container .about_inner .abt_txt_col .abt_txt_content h2 {
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #about .container .about_inner .abt_txt_col .abt_txt_content h2 {
    font-size: 22px;
    line-height: 26px;
  }
}

#about .container .about_inner .abt_txt_col .abt_txt_content span {
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #about .container .about_inner .abt_txt_col .abt_txt_content span {
    font-size: 16px;
    line-height: 16px;
  }
}

#about .container .about_inner .abt_vid_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#about .container .about_inner .abt_vid_col .abt_Video {
  width: 600px;
  height: 340px;
  border: 8px solid #1b1464;
  z-index: 999;
}

@media (min-width: 320px) and (max-width: 480px) {
  #about .container .about_inner .abt_vid_col .abt_Video {
    width: 450px;
    height: 260px;
  }
}

#about .container .about_inner .abt_vid_col .abt_Video iframe {
  width: 100%;
  height: 100%;
}

/* End  about section  */
/* service section start */
#service {
  padding-top: 30px;
}

#service .tabs {
  padding-bottom: 70px;
}

#service .tabs .container .tabs_container {
  background: url(../images/tabs.png) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

#service .tabs .container .tabs_container .title {
  position: absolute;
  top: 0;
  right: 155px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .title {
    font-size: 14px;
    line-height: 16px;
    top: 10px;
    right: 0px;
  }
}

#service .tabs .container .tabs_container .tab_content {
  z-index: 333;
  padding: 112px 60px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content {
    padding: 16px;
  }
}

#service .tabs .container .tabs_container .tab_content .tab-item {
  padding-bottom: 120px;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .tab-item {
    padding-bottom: 50px;
  }
}

#service .tabs .container .tabs_container .tab_content .tab-item.slick-slide {
  outline: none;
}

#service .tabs .container .tabs_container .tab_content .tab-item h4 {
  font-size: 52px;
  line-height: 52px;
  text-align: left !important;
  padding-left: 24px;
  padding-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .tab-item h4 {
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

#service .tabs .container .tabs_container .tab_content .tab-item h4, #service .tabs .container .tabs_container .tab_content .tab-item h4 p {
  text-align: center;
  color: #fff;
}

#service .tabs .container .tabs_container .tab_content .tab-item p {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 45px;
  padding: 0px 25px;
  text-align: justify;
  text-transform: lowercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .tab-item p {
    font-size: 10px;
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#service .tabs .container .tabs_container .tab_content .tab-item .button {
  margin-left: 25px;
  padding: 8px 6px;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .tab-item .button {
    padding: 0px;
  }
}

#service .tabs .container .tabs_container .tab_content .slick-arrow {
  position: absolute;
  bottom: 105px;
  left: 105px;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 30px;
  line-height: 30px;
  z-index: 33333;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .slick-arrow {
    font-size: 10px;
    line-height: 10px;
    left: 20px;
    bottom: 44px;
  }
}

#service .tabs .container .tabs_container .tab_content .slick-arrow.slick-next {
  margin-left: 215px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .tab_content .slick-arrow.slick-next {
    margin-left: 65px;
  }
}

#service .tabs .container .tabs_container .nav_tabs {
  position: absolute;
  top: 93%;
  padding-left: 65px;
  width: 80%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .nav_tabs {
    margin-left: 16px;
    top: 92%;
    padding-left: 0px;
  }
}

#service .tabs .container .tabs_container .nav_tabs .nav-item {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 4px 0px;
  background-color: #00aeefa6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 260px;
  text-align: center;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.377);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.377);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .nav_tabs .nav-item {
    width: 200px;
    padding: 0px;
    margin-bottom: 4px;
  }
}

#service .tabs .container .tabs_container .nav_tabs .nav-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#service .tabs .container .tabs_container .nav_tabs .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #service .tabs .container .tabs_container .nav_tabs .nav-item .nav-link {
    font-size: 8px;
  }
}

/* End  service section  */
/* slogan section start */
#slogan .container .section_inner .slogan_txt:nth-child(1) {
  margin-bottom: 60px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #slogan .container .section_inner .slogan_txt:nth-child(1) {
    margin-bottom: 20px;
  }
}

#slogan .container .section_inner .slogan_txt h2 {
  font-size: 54px;
  line-height: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  #slogan .container .section_inner .slogan_txt h2 {
    font-size: 22px;
    line-height: 24px;
  }
}

#slogan .container .section_inner .slogan_txt p {
  font-size: 28px;
  line-height: auto;
  margin-top: 30px;
  font-family: "square";
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #slogan .container .section_inner .slogan_txt p {
    font-size: 14px;
    line-height: 22px;
    padding-top: 0px;
    text-align: center;
  }
}

/* End  slogan section  */
/* analytics section start */
#analytics .container .section_inner .col-one, #strategy .container .section_inner .col-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#analytics .container .section_inner .col-one .text_container, #strategy .container .section_inner .col-one .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#analytics .container .section_inner .col-two, #strategy .container .section_inner .col-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#analytics .container .section_inner .col-two .image_container, #strategy .container .section_inner .col-two .image_container {
  background: url(../images/analytics-bg.png) no-repeat;
  background-size: cover;
  padding: 102px 60px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .image_container, #strategy .container .section_inner .col-two .image_container {
    padding: 24px 0px;
  }
}

#analytics .container .section_inner .col-two .image_container h4, #strategy .container .section_inner .col-two .image_container h4 {
  font-size: 48px;
  line-height: 48px;
  padding-left: 58px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .image_container h4, #strategy .container .section_inner .col-two .image_container h4 {
    line-height: 26px;
    padding-left: 30px;
    font-size: 18px;
  }
}

#analytics .container .section_inner .col-two .image_container p.first, #strategy .container .section_inner .col-two .image_container p.first {
  font-size: 24px;
  padding-left: 60px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .image_container p.first, #strategy .container .section_inner .col-two .image_container p.first {
    font-size: 8px;
    line-height: 12px;
    padding-left: 30px;
  }
}

#analytics .container .section_inner .col-two .image_container p.second, #strategy .container .section_inner .col-two .image_container p.second {
  padding: 30px 0px;
  margin-left: 120px;
  font-size: 32px;
  line-height: 36px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .image_container p.second, #strategy .container .section_inner .col-two .image_container p.second {
    padding: 14px 15px;
    margin-left: 40px;
    font-size: 8px;
    line-height: 12px;
    text-align: justify;
  }
}

#analytics .container .section_inner .col-two .button_s, #strategy .container .section_inner .col-two .button_s {
  position: absolute;
  bottom: -70px;
  left: 166px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .button_s, #strategy .container .section_inner .col-two .button_s {
    left: 50%;
    bottom: -54px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

#analytics .container .section_inner .col-two .button_s .button, #strategy .container .section_inner .col-two .button_s .button {
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #analytics .container .section_inner .col-two .button_s .button, #strategy .container .section_inner .col-two .button_s .button {
    font-size: 10px;
  }
}

/* End  analytics section  */
/* strategy section start */
#strategy .image_container p.second {
  padding: 8px 15px !important;
}

#strategy .text_container {
  margin-bottom: 200px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #strategy .text_container {
    margin-bottom: 0px;
  }
}

#strategy .button_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 70px !important;
  left: 160px !important;
  -webkit-transform: translate(-55%) !important;
          transform: translate(-55%) !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  #strategy .button_s {
    bottom: -40px !important;
  }
}

#strategy .button_s a.button:first-child, #strategy .button_s #service .tabs .container .tabs_container .tab_content .tab-item a.button:first-child:focus, #service .tabs .container .tabs_container .tab_content .tab-item #strategy .button_s a.button:first-child:focus, #analytics .container .section_inner .col-two #strategy .button_s a.button:first-child:focus, #strategy .container .section_inner .col-two .button_s a.button:first-child:focus, #strategy .button_s #studies .container .case_slider .slide_box .text_container a.button:first-child:focus, #studies .container .case_slider .slide_box .text_container #strategy .button_s a.button:first-child:focus {
  margin-right: 15px;
}

/* End  strategy section  */
/* clients section start */
#clients .container .section_inner .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients .container .section_inner .col-md-4 .title {
  font-size: 48px;
  line-height: 100px;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #clients .container .section_inner .col-md-4 .title {
    margin: auto;
    font-size: 36px;
  }
}

#clients .container .section_inner .col-md-4 .title::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 350px;
  background-color: #03a6ff;
  top: -125px;
  right: -65px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #clients .container .section_inner .col-md-4 .title::after {
    height: 2px;
    width: 280px;
    top: 78px;
    right: -25px;
  }
}

#clients .container .section_inner .col-md-8 .client_slider {
  z-index: 222;
}

#clients .container .section_inner .col-md-8 .client_slider .client_box {
  background-color: #03a6ff;
  width: 250px;
  height: 250px;
  margin: 0px 20px;
  cursor: pointer;
}

#clients .container .section_inner .col-md-8 .client_slider .client_box.slick-slide {
  outline: none;
}

/* End  clients section  */
/* studies section start */
#studies .container .title {
  font-size: 48px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .title {
    font-size: 36px;
    margin-bottom: 10px;
  }
}

#studies .container .case_slider {
  z-index: 3333;
}

#studies .container .case_slider .slide_box.slick-slide {
  outline: none;
}

#studies .container .case_slider .slide_box .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slide_box .text_container {
    margin-top: 20px;
  }
}

#studies .container .case_slider .slide_box .text_container h3 {
  text-align: right;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  color: #60c7ff;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slide_box .text_container h3 {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

#studies .container .case_slider .slide_box .text_container p {
  text-align: right;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slide_box .text_container p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}

#studies .container .case_slider .slide_box .text_container .button {
  margin-left: auto;
  margin-top: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slide_box .text_container .button {
    padding: 8px;
    font-size: 14px;
    margin-right: auto;
    margin-left: 0px;
  }
}

#studies .container .case_slider .slide_box .img_container .bg_img {
  position: relative;
  z-index: 1;
}

#studies .container .case_slider .slide_box .img_container .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% - 8%);
}

#studies .container .case_slider .slick-dots {
  position: absolute;
  right: 245px;
  bottom: -65px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 50%;
    bottom: -65px;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
}

#studies .container .case_slider .slick-dots li {
  display: inline-block;
  margin: 0px 8px;
  width: 28px;
  height: 28px;
  background-color: #015380;
  font-size: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  #studies .container .case_slider .slick-dots li {
    width: 18px;
    height: 18px;
  }
}

#studies .container .case_slider .slick-dots li.slick-active {
  background-color: #03a6ff;
}

/* End  studies section  */
/* map section start */
#map .container.map {
  padding: 75px 0px;
}

#map .container.map .world {
  background: url(../images/world.png) no-repeat;
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  #map .container.map .world {
    background: none;
  }
}

#map .container.map .world .world_sm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -160%);
          transform: translate(-50%, -160%);
}

#map .container.map .world .marker {
  background: url(../images/marker.png) no-repeat;
  background-size: contain;
  width: 390px;
  height: 270px;
  margin-left: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #map .container.map .world .marker {
    -webkit-transform: translate(8%, -50%);
            transform: translate(8%, -50%);
    width: 325px;
    height: 200px;
    left: 50%;
    top: 60%;
  }
}

#map .container.map .world .marker .title {
  font-size: 24px;
  padding-bottom: 28px;
  line-height: 40px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #map .container.map .world .marker .title {
    padding-bottom: 8px;
    line-height: 23px;
    font-size: 15px;
  }
}

#map .container.map .world .marker .counter {
  width: 50%;
  max-width: 50%;
  float: left;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  #map .container.map .world .marker .counter {
    max-width: 50%;
    float: left;
    width: 45%;
    text-align: left;
  }
}

#map .container.map .world .marker .counter p {
  margin: 0px;
}

#map .container.map .world .marker .counter p:first-child {
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #map .container.map .world .marker .counter p:first-child {
    font-size: 14px;
  }
}

/* End  map section  */
/* supply section start */
#supply .container .section_inner .suplly_box {
  background: url(../images/detail-bg.png) no-repeat;
  background-size: 95% 100%;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #supply .container .section_inner .suplly_box {
    padding-bottom: 16px;
    margin-bottom: 12px;
    padding-top: 34px;
  }
}

#supply .container .section_inner .suplly_box .apply {
  font-size: 22px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #supply .container .section_inner .suplly_box .apply {
    font-size: 14px;
  }
}

#supply .container .section_inner .suplly_box .jobs {
  font-size: 46px;
  line-height: 46px;
  padding-bottom: 36px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #supply .container .section_inner .suplly_box .jobs {
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 3px;
  }
}

#supply .container .section_inner .suplly_box a {
  font-size: 18px;
  font-family: "myrid";
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  #supply .container .section_inner .suplly_box a {
    font-size: 12px;
  }
}

/* End  supply section  */
