@font-face {
    font-family: "nasali";
    src: url("../fonts/nasta\ rg.ttf");
}

@font-face {
    font-family: "game_show";
    src: url("../fonts/Gameshow.ttf");
}
@font-face {
    font-family: "game_show_2";
    src: url("../fonts/Gameshow.otf");
}
@font-face {
    font-family: "myrid";
    src: url("../fonts/Myriad\ Pro\ Regular.ttf");
}

